.App {
  padding: 50px;
  display: flex;
  max-width: 1920px;
  max-height: max-content;
  flex-wrap: wrap;
}
.Apps {
  padding: 50px;
  display: flex;
  max-width: 1920px;
  max-height: max-content;
  flex-wrap: wrap;
  background-image: url("./assets/images/Free-vector-realistic-3d-podium-background-Wallpaper\ \(2\).jpg");
}

.sign-in {
  margin-left: 140px;
}
.sign-up {
  margin-left: 50px;
}

.night-mode {
  margin: 0;
  padding-top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.unsplash.com/photo-1533082385145-b152cdde7ccd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");

  color: #d1cfcf;
}

.light-mode {
  margin: 0;
  padding-top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.switch {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-colorcolor);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

@media (max-width: 1024px) {
  .date-component {
    display: none;
  }
}

.date-component {
  margin-left: 220px;
  position: absolute;
  margin-bottom: 100px;
}

.react-date-picker__wrapper {
  flex-direction: row !important;

  position: relative !important;

  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: thin solid gray;

  width: fit-content;
}

.boss {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block: 10px;
  margin-inline: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.all-tasklists {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
  display: block;
  display: inline;
  justify-content: right;
}

.error-message {
  display: inline;
  color: red;
  font-size: 14px;
}

.active-filter {
  font-size: large;
  background-color: rgba(249, 0, 29, 0.286);
  border-radius: 5px;
}

.is-done {
  opacity: 0.3;
}

.editable-span {
  display: inline-block;

  margin-left: 5px;
  flex-direction: row;
  font-family: cursive;
}
.main-input {
  justify-content: center;

  display: inline-block;
  flex-direction: row;
}

.due {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80px;
  height: min-content;
}

.task-list {
  display: flex;
  flex-direction: column;
  margin-right: 500px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap(default);
  margin-left: 500px;
}
.another-todo {
  font-size: 12px;
  display: flex;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  width: 200px;
  margin-left: 270px;
}
.another-todo h3 {
  width: 180px;
}
@media (max-width: 1024px) {
  .task-list {
    margin-top: 100px;
    margin-left: 180px;
  }
}

.main-h1 {
  position: unset;
  width: 200px;
}

.standart-input {
  display: flex;
  flex-direction: row;
  width: 235px;
  justify-content: center;
  border-radius: 5px;
  margin: 5px;
  transition-duration: 0.2s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.input-button {
  transition: width 0.5s, height 0.5;
}

.task-list h1 {
  justify-content: center;
  position: relative;
}

.tasks-buttons {
  font-size: large;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.2s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-inline: 15px;
  margin-block: 10px;
}
.tasks-buttons:hover {
  background-color: rgb(192, 43, 43);
}

.tasks-buttons:active {
  font-size: large;
  background-color: rgb(135, 3, 3);
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}
.remove-buttons {
  cursor: pointer;
  color: #f4472d;
  margin-left: 2px;
  height: 20px;
  font-size: 11px;
  transition-duration: 0.2s;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.deadline-button {
  margin-bottom: -6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 11px;
  height: 20px;
  justify-content: space-around;
  width: 25px;
  margin-left: 2px;
  transition-duration: 0.2s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.edit-button {
  cursor: pointer;
  font-weight: 600;
  font-size: 11px;
  padding-top: 0.5px;
  justify-content: space-around;
  width: 20px;
  margin-left: 5px;
  transition-duration: 0.2s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.edit-icon {
  margin-inline-start: -2.5px;
}

.tasks-counter {
  display: flex;
  justify-content: center;
  margin-right: 10px;

  font-size: 0.7rem;
}

.checked {
  font-family: "Courier New", Courier, monospace;
  color: red;
  border: 5px inset red;
  background-color: #f4472d;
}

h1 {
  font-size: 18px;
  font-family: cursive;
  cursor: text;
}
